{% extends "app/base2.html" %}
{% load static %}
<!DOCTYPE html>
<html>

	{% block content %}

	

	<body>
		
		<form action="" method="POST" style="text-align: center;">
			{% csrf_token %}
			{{form}}
			<input type="submit" class="btn btn-success" value="submit" >
		</form>

		<h1>Forum Main
			
		</h1>
		

	</body>

	<main>
		

		<div class="row">

			<div class="column">

				<button onclick="location.href='{% url 'forumView' forumName='Health' %}'" class="button button1">
					Health</button>
				<button onclick="location.href='{% url 'forumView' forumName='Policies' %}'" class="button button1">
					Policies</button>
				<button onclick="location.href='{% url 'forumView' forumName='Operations' %}'" class="button button1">
					Operations</button>

			</div>

			<div class="column">
				<button onclick="location.href='{% url 'forumView' forumName='Technologies' %}'" class="button button2">
					Technologies</button>
					<button onclick="location.href='{% url 'forumView' forumName='General'  %}'" class="button button2">
					General</button>
					<button onclick="location.href='{% url 'forumView' forumName='Social' %}'" class="button button2">
					Social</button>
					
			</div>
			
				
		</div>
		
	

	</main>

	{% endblock %}

</html>