{% extends "app/base.html" %}
{% load static %}
<!DOCTYPE html>
<html>

	{% block content%}

	
	<body>
		<h1>Contact Information</h1>
		<p>If you have any questions or concerns, you can submit them to https://columbusstate.formstack.com/forms/returning_to_campus_ideas_and_questions or contact:

		<br><br>&emsp;&emsp;Julio Llanos, Co-Chair, COVID-19 - 706-565-4342 or llanos_julio@columbusstate.edu
		<br>&emsp;&emsp;Vicki Roebuck, Director for Student Health - 706-507-8620 or roebuck_victoria@columbusstate.edu
		<br>&emsp;&emsp;Interim Chief Laura Bennett, University Police - 706-568-2022 or bennett_laura1@columbusstate.edu
		
		<br><br>All coronavirus-related media inquiries should be directed to CSU’s University Relations office at ur@columbusstate.edu, or 706-507-8532.</p>
	</body>

	{% endblock %}

</html>