{% extends "app/base2.html" %}
{% load static %}
<!DOCTYPE html>
<html>

    {% block content %}

    <body>
        <h1>Frequently Asked Questions</h1>

        <div><!--Student Section-->
            <br><br><h2>Students section:</h2>

            <br>Will the shuttle service continuation come to an end?
            <li>No, the shuttle service will continue as long as the proper safety precautions are being put into place on the bus.</li>
            <br>Will the library and its computer lab stay open?
            <li>Yes, there are safety precautions being issued that will allow people to use the library and its computer lab.</li>
            <br>Will there still be events and programs to attend at CSU?
            <li>Yes, there are still events and programs being planned for students to attend. They will be virtual for the most part, but there will also be opportunities for situations that allow physical attendance.</li>
            <br>If I don't feel comfortable coming back on campus, can I take all of my classes online?
            <li>Depending on the courses that you take, there is a chance that you will be able to take all of your classes online. Not all courses are available online, so you may have to check with your academic advisor or ask your instructor if you can choose to only attend class virtually.</li>
            <br>More FAQs concerning students can be viewed here:
            <a href="https://www.columbusstate.edu/covid/faqs/student-faqs.php">Student FAQs</a>
        </div>

        <div><!--Faculty Section-->
            <br><br><h2>Faculty section:</h2>

            <br>When are final grades due?
            <li>They are due no later than noon on May 12, 2021 by 8:00. The final exams will end on May 8, 2021.</li>
            <br>Has COVID-19 impacted the Tenure and Promotion track for faculty?
            <li>Yes, and in order to deal with the impact of COVID-19, faculty can submit a formal request to the chair and dean to try and pause the tenure and promotion clock. The dean will forward the request to the Provost for review, and it will then be forwarded to President Markwood for approval.</li>
            <br>How should we go about Annual Evaluations?
            <li>It's important for faculty to highlight the work that has been done during the Spring 2020 semester. The student course evaluations from the Spring 2020 semester will not be considered as part of the annual evaluation.</li>
            <br>More FAQs concerning faculty can be viewed here:
            <a href="https://www.columbusstate.edu/covid/faqs/faculty-faqs.php">Faculty FAQs</a>
        </div>

        <div><!--Staff Section Leave-->
            <br><br><h2>Staff section (Options and Procedures for COVID-19 Leave):</h2>

            <br>Will emergency sick leave count against an employee's accrued leave?
            <li>No, it will not count against it.</li>
            <br>How is emergency paid sick leave calculated for part-time employees?
            <li>Part-time employees are eligible to receive paid sick leave up to their regularly scheduled work hours per week or their full-time equivalent (FTE).</li>
            <br>In what pay/status is an employee placed if that employee is healthy, but still directed by a medical professional or employing agency to stay home because direct contact has been made to someone exposed to COVID-19?
            <li>If that employee has been subjected to federal, state, or local quarantine or isolation, then that person can request up to 80 hours of emergency paid sick leave at that employee's regular rate of pay, capped at $511 per day or $5,110 total. Eligible employees can elect to use accrued leave or compensatory time to cover the absence, which will not count against their FFCRA entitlement.</li>
            <br>Are temporary employees, including federal work-study students, eligible for FFCRA leave?
            <li>Yes, anyone who is actively employed with work available and meets the qualification requirements of the new law is eligible for FFCRA leave.</li>
            <br>More FAQs concerning staff leave options can be viewed here:
            <a href="https://www.columbusstate.edu/covid/resources/employee-resources/leave-options-and-procedures-faqs.php">Staff Leaving FAQs</a>
        </div>

        <div><!--Staff USG Section-->
            <br><h2>Staff section (USG FAQs):</h2>

            <br>Do I or the employee that I manage still have to travel for our job if we are concerned about potential risks?
            <li>All non-essential business travel is suspended in order to comply with the Governor's directive. Managers have the authority to rescind prior travel approval. Required in-person meetings should be done virtually or rescheduled. USG official travel to a CDC Level 3 or higher country is not authorized and will not be reimbursed.</li>
            <br>Will FMLA cover me if an immediate member of my family contracts COVID-19?
            <li>Yes, an eligible employee can take FMLA leave if that person's spouse, child, or parent contracts COVID-19.</li>
            <br>Can a manager consider telework or flex schedules for employees?
            <li>Supervisors have increased flexibility to approve telework and flexible schedules. Authorized managers can waive the requirement to complete the usual telework agreement and may use email to confirm approval to telework. Employees should consult with their supervisors about teleworking and flexible schedule options.</li>
            <br>What should I do if I have been exposed to COVID-19, but do not show any symptoms for it?
            <li>These employees should self-quarantine consistent with DPH and CDC guidelines. They should contact their healthcare provider if they become sick and remain home. They should also contact their supervisor if they are unable to come to work or need to make a telework arrangement.</li>
            <br>More USG FAQs concerning staff can be viewed here:
            <a href="https://www.columbusstate.edu/covid/resources/employee-resources/usg-faq-for-employees.php">Staff USG FAQs</a>   
        </div>

        <div><!--General FAQs-->
            <br><br><h2>More General FAQs can be viewed here:</h2>

            <button onclick="location.href='https://www.columbusstate.edu/covid/faqs/general-faqs.php'" class="button button2">General FAQs</button>
        </div>

    </body>

    {% endblock %}

</html>
