{% extends "app/base2.html" %}
{% load static %}

<!DOCTYPE html>
<html>

	{% block content %}

<body>
	<h1>Covid-19 Dashboard</h1>
	<iframe src="https://ourworldindata.org/explorers/coronavirus-data-explorer?zoomToSelection=true&hideControls=true&Metric=Confirmed+cases&Interval=Cumulative&Relative+to+Population=false&Align+outbreaks=false&country=~USA" height="500" width="1000" title="Iframe Example"></iframe>
	<iframe src="https://ourworldindata.org/grapher/us-covid-share-fully-vaccinated?time=latest" height="500" width="1000" title="Iframe Example"></iframe>
	
	<div class="homecolumn left"style="width: 50%; background-color: white;"> 
		<p style="color:red; font-size:160%;">Feeling unwell? Use the symptom screener to determine if you should take a COVID test.</p>
	</div>
	
	<div class="homecolumn right" style="width: 50%">
		<button onclick="location.href='/screener'" class="button button2">Symptom Screener</button>
	</div>
	
</body>
	{% endblock %}

</html>
