{% extends "app/base.html" %}
{% load static %}
<!DOCTYPE html>
<html>

	{% block content %}



	<body>


		<h1>Crisis Management System</h1>

	</body>

	<main>

		<div class="row">

			<div class="column">

				<button onclick="location.href='/health'" class="button button1">
					Health</button>
				<button onclick="location.href='location.com'" class="button button1">
					Policies</button>
				<button onclick="location.href='/operation'" class="button button1">
					Operations</button>
				<button onclick="location.href='location.com'" class="button button1">
					Technologies</button>
				<button onclick="location.href='/forumMain'" class="button button1">
					Forum</button>

			</div>

			<div class="column">
				<button onclick="location.href='https://covid-hub.gio.georgia.gov/app/GISCorps::covid-19-testing-in-the-united-states'" class="button button2">
					Coronavirus Dashboard</button>
					<button onclick="location.href='location.com'" class="button button2">
					Daily Symtom Screener</button>
					<button onclick="location.href='contact/'" class="button button2">
					Contact Us</button>
					<button onclick="location.href='location.com'" class="button button2">
					FAQ</button>
			</div>

		</div>

	</main>

	{% endblock %}

</html>
