{% load static %}
<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8">
		<title>Crisis Management System</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">

	</head>

	<body>

		<div class="topnav">
		  <a class="active" href="#home" onclick="location.href='/'">Home</a>
		  <a href="#news" onclick="location.href='location.com'">News</a>
		  <a href="#contact" onclick="location.href='contact/'">Contact</a>
		  <a href="#about" onclick="location.href='location.com'">About</a>
		</div>

		<h1>Crisis Management System</h1>

	</body>

	<main>

		<div class="row">

			<div class="column">

				<button onclick="location.href='/health'" class="button button1">
					Health</button>
				<button onclick="location.href='location.com'" class="button button1">
					Policies</button>
				<button onclick="location.href='/operation'" class="button button1">
					Operations</button>
				<button onclick="location.href='location.com'" class="button button1">
					Technologies</button>
				<button onclick="location.href='/forumHome'" class="button button1">
					Forum</button>

			</div>

			<div class="column">
				<button onclick="location.href='location.com'" class="button button2">
					Coronavirus Dashboard</button>
					<button onclick="location.href='location.com'" class="button button2">
					Daily Symtom Screener</button>
					<button onclick="location.href='contact/'" class="button button2">
					Contact Us</button>
					<button onclick="location.href='location.com'" class="button button2">
					FAQ</button>
			</div>

		</div>

	</main>

</html>