<!DOCTYPE html>
<head>
   <title>Operations for CSU!</title>
</head>
<body>
   <h1>Operations for Different Parts of CSU</h1>
   <a href="https://students.columbusstate.edu/campus-life.php">Campus Life</a>

   <a href="https://academics.columbusstate.edu/calendars/">Calendars</a>

   <a href="https://bursar.columbusstate.edu/fees.php">Budgets</a>

   <a href="https://columbusstate.campusdish.com">Dining</a>

   <a href="https://orientation.columbusstate.edu">Orientation</a>

   <a href="https://campusrec.columbusstate.edu">Recreation Center</a>
</body>
</html>
