{% extends "app/base.html" %}
{% load static %}

<!DOCTYPE html>
{% block content %}

<head>
   <title>Operations for CSU!</title>

   
</head>
<body>
   <h1>Operations for Different Parts of CSU</h1>
   <a href="https://students.columbusstate.edu/campus-life.php">Campus Life</a>

   <br><a href="https://academics.columbusstate.edu/calendars/">Calendars</a>

   <br><a href="https://bursar.columbusstate.edu/fees.php">Budgets</a>

   <br><a href="https://columbusstate.campusdish.com">Dining</a>

   <br><a href="https://orientation.columbusstate.edu">Orientation</a>

   <br><a href="https://campusrec.columbusstate.edu">Recreation Center</a>
</body>

{% endblock %}

</html>