{% extends "app/base2.html" %}
{% load static %}
<!DOCTYPE html>
<html>

    {% block content %}

    <body>

        <h1>Policies Relating To COVID-19</h1>

        <div><!--Instructional Information-->
            <br><br><h2>Policies for Instructional Information</h2>

            <p>This link is to provide policies for COVID-19 related instructional information. It addresses both students and CSU faculty concerning this topic.
            <br>The information available in the link goes over the policies for attendance, communication, extended classrooms, physical distancing, technology access, and other information.</p>
            <a href="https://aa.columbusstate.edu/covid-19-information/">Instruction Information</a>        
        </div>

        <div><!--Testing Center-->
            <br><br><h2>CSU Testing Center</h2>

            <p>This link provides the policies for the testing center at Columbus State University. It mentions the appointments for the testing center, if a refund is available, what can be of use there, and who is allowed there. It also shows what is to be expected on test day.</p>
            <a href="https://testing.columbusstate.edu/policies.php">Testing Center</a>
        </div>

        <div><!--Response Team-->
            <br><br><h2>COVID Response Team</h2>
            
            <p>This link is for the response team available at CSU that mainly focuses on issues related to COVID-19. It goes over the members, procedures, policies, and purpose of the team. Other important information is included here as well.</p>
            <a href="https://columbusstate.edu/covid/covid-19-response-team.php">Response Team</a>
        </div>

        <div><!--Prepare and Respond-->
            <br><br><h2>Preparing and Responding in Georgia</h2>
 
            <p>This link provides some of the policies that the state of Georgia follows concerning preparing and responding to COVID-19. It mainly focuses on some of the precautions that can be taken.</p>
            <a href="https://dph.georgia.gov/preparing-and-responding-covid-19">Preparing</a>
        </div>

        <div><!--Quarantine Guidance-->
            <br><br><h2>Quarantine Guidance in Georgia</h2>

            <p>This link provides policies that will help guide the people exposed to COVID-19. It first goes over facts dealing with the disease.
            <br>Then, it gives information on how someone may have been exposed to it, what to do if contact has been made with someone that is sick, some policies on testing, considerations during quarantine, quarantine for vaccinated individuals, and quarantine for people that are not vaccinated.</p>
            <a href="https://www.georgiainsights.com/uploads/1/2/2/2/122221993/covid-19_contact_guidance.pdf">Quarantine Guidance</a>
        </div>

        <div><!--CDC Policies-->
            <br><br><h2>CDC Policies for Universities</h2>

            <p>This link provides more policies on how to plan, prepare, and respond to COVID-19 for people in higher learning environments. It has resources for administrators, faculty, staff, and students that may help them figure out how to go about life during the outbreak for this disease.</p>
            <a href="https://www.cdc.gov/coronavirus/2019-ncov/community/colleges-universities/index.html">CDC Policies</a>
        </div>
 
    </body>

    {% endblock %}

</html>
