{% extends "app/base2.html" %}
{% load static %}
<!DOCTYPE html>
<html>

    {% block content %}

    <body>

        <h1>Policies Relating To COVID-19</h1>

        <div><!--Main blurb-->
			<p>All current protocols - face coverings indoors and outdoors, physical distancing, and stringent hand-washing - remain in effect. Hand-sanitizing and temperature-check stations remain distributed throughout campus.

			<br><br>Heightened sanitizing protocols in offices and common spaces will continue to be applied. Deeper cleanings - triggered by feedback received through our online self-reporting form - will be requested by the COVID-19 Response Team and coordinated between the team and University Support Services.

			<br><br>Entry testing is not a requirement for returning to campus, however, you are encouraged to seek free testing, especially if you have been at risk of exposure during the past two weeks.

			<br><br>If you are experiencing symptoms or feeling unwell, please stay home and self-report those symptoms or a positive test.</p>
		</div>
		
		<div><!--About the Virus -->
			<br><br><h2>About the Virus</h2>
			
			<p>Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.
			
			<br><br>Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and recover without requiring special treatment.  Older people, and those with underlying medical problems like cardiovascular disease, diabetes, chronic respiratory disease, and cancer are more likely to develop serious illness.

			<br><br>The best way to prevent and slow down transmission is to be well informed about the COVID-19 virus, the disease it causes and how it spreads. Protect yourself and others from infection by washing your hands or using an alcohol based rub frequently and not touching your face. 

			<br><br>The COVID-19 virus spreads primarily through droplets of saliva or discharge from the nose when an infected person coughs or sneezes, so it’s important that you also practice respiratory etiquette (for example, by coughing into a flexed elbow).</p>
		</div>
		
		<div><!--Prevention-->
			<br><br><h2>Prevention</h2>
			<p><li>Wash your hands regularly with soap and water, or clean them with alcohol-based hand rub.</li>
			<li>Maintain at least 1 metre distance between you and people coughing or sneezing.</li>
			<li>Avoid touching your face.</li>
			<li>Cover your mouth and nose when coughing or sneezing.</li>
			<li>Stay home if you feel unwell.</li>
			<li>Refrain from smoking and other activities that weaken the lungs.</li>
			<li>Practice physical distancing by avoiding unnecessary travel and staying away from large groups of people.</li></p>
		</div>
		
		<div><!--Future Steps-->
			<br><br><h2>Future Steps</h2>
			<p>
				The world is in the midst of a COVID-19 pandemic. As WHO and partners work together on the response -- tracking the pandemic, advising on critical interventions, distributing vital medical supplies to those in need--- they are racing to develop and deploy safe and effective vaccines. 

				<br><br>Vaccines save millions of lives each year. Vaccines work by training and preparing the body’s natural defences --- the immune system--- to recognize and fight off the viruses and bacteria they target. If the body is exposed to those disease-causing germs later, the body is immediately ready to destroy them, preventing illness.

				<br><br>There are currently more than 50 COVID-19 vaccine candidates in trials. WHO is working in collaboration with scientists, business, and global health organizations through the ACT Accelerator to speed up the pandemic response. When a safe and effective vaccine is found, COVAX (led by WHO, GAVI and CEPI) will facilitate the equitable access and distribution of these vaccines to protect people in all countries. People most at risk will be prioritized. While we work towards rolling out a safe and effective vaccine fairly, we must continue the essential public health actions to suppress transmission and reduce mortality.
			</p>
		</div>
        
        <div><!--Instructional Information-->
            <br><br><h2>Policies for Instructional Information</h2>

            <p>This link is to provide policies for COVID-19 related instructional information. It addresses both students and CSU faculty concerning this topic.
            <br>The information available in the link goes over the policies for attendance, communication, extended classrooms, physical distancing, technology access, and other information.</p>
            <a href="https://aa.columbusstate.edu/covid-19-information/">Instruction Information</a>        
        </div>

        <div><!--Testing Center-->
            <br><br><h2>CSU Testing Center</h2>

            <p>This link provides the policies for the testing center at Columbus State University. It mentions the appointments for the testing center, if a refund is available, what can be of use there, and who is allowed there. It also shows what is to be expected on test day.</p>
            <a href="https://testing.columbusstate.edu/policies.php">Testing Center</a>
        </div>

        <div><!--Response Team-->
            <br><br><h2>COVID Response Team</h2>
            
            <p>This link is for the response team available at CSU that mainly focuses on issues related to COVID-19. It goes over the members, procedures, policies, and purpose of the team. Other important information is included here as well.</p>
            <a href="https://columbusstate.edu/covid/covid-19-response-team.php">Response Team</a>
        </div>

        <div><!--Prepare and Respond-->
            <br><br><h2>Preparing and Responding in Georgia</h2>
 
            <p>This link provides some of the policies that the state of Georgia follows concerning preparing and responding to COVID-19. It mainly focuses on some of the precautions that can be taken.</p>
            <a href="https://dph.georgia.gov/preparing-and-responding-covid-19">Preparing</a>
        </div>

        <div><!--Quarantine Guidance-->
            <br><br><h2>Quarantine Guidance in Georgia</h2>

            <p>This link provides policies that will help guide the people exposed to COVID-19. It first goes over facts dealing with the disease.
            <br>Then, it gives information on how someone may have been exposed to it, what to do if contact has been made with someone that is sick, some policies on testing, considerations during quarantine, quarantine for vaccinated individuals, and quarantine for people that are not vaccinated.</p>
            <a href="https://www.georgiainsights.com/uploads/1/2/2/2/122221993/covid-19_contact_guidance.pdf">Quarantine Guidance</a>
        </div>

        <div><!--CDC Policies-->
            <br><br><h2>CDC Policies for Universities</h2>

            <p>This link provides more policies on how to plan, prepare, and respond to COVID-19 for people in higher learning environments. It has resources for administrators, faculty, staff, and students that may help them figure out how to go about life during the outbreak for this disease.</p>
            <a href="https://www.cdc.gov/coronavirus/2019-ncov/community/colleges-universities/index.html">CDC Policies</a>
        </div>
 
    </body>

    {% endblock %}

</html>
