{% extends "app/base2.html" %}
{% load static %}

<!DOCTYPE html>
<html>

	{% block content %}
<body>
    <h1>Symptom Screener</h1>
    Watch for symptoms
    People with COVID-19 have had a wide range of symptoms reported – ranging from mild symptoms to severe illness. Symptoms may appear 2-14 days after exposure to the virus. People with these symptoms may have COVID-19:
    <ul>
        <li>Fever or chills</li>
        <li>Cough</li>
        <li>Shortness of breath or difficulty breathing</li>
        <li>Fatigue</li>
        <li>Muscle or body aches</li>
        <li>Headache</li>
        <li>New loss of taste or smell</li>
        <li>Sore throat</li>
        <li>Congestion or runny nose</li>
        <li>Nausea or vomiting</li>
        <li>Diarrhea</li>
    </ul>

    <br><br>If someone is showing any of these signs, seek emergency medical care immediately:

    <ul>
        <li>Trouble breathing</li>
        <li>Persistent pain or pressure in the chest</li>
        <li>New confusion</li>
        <li>Inability to wake or stay awake</li>
        <li>Pale, gray, or blue-colored skin, lips, or nail beds, depending on skin tone</li>
    </ul>

    This list does not include all possible symptoms. Visit <a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html">here</a> for more information on these symptoms.
    <br>Call 911 or call ahead to your local emergency facility: Notify the operator that you are seeking care for someone who has or may have COVID-19.


</body>
{% endblock %}

</html>