{% extends "app/base2.html" %}
{% load static %}
<!DOCTYPE html>
<html>

    {% block content %}
    
    <body>

        <h1>COVID Related Technologies Dealing with Health and Operations</h1>

        <div><!--Main blurb-->
            <p>At Columbus State University, there will be no telehealth available because there is no platform in place for it, and there are not enough staff available to solely focus on procedures involving telehealth. If a student has symptoms for COVID-19, the staff at the Health Center will propose being able to do rapid COVID-19 testing, rapid flu A/B and rapid strep testing.
            <br><br>Administrators have made it so where all client forms will be digitalized and made available for students to fill out in the computer lab. If there were to be another semester at Columbus State University that would need to become 100% online, then programs and activities would be evaluated on an individual basis to determine whether there are other options for them or if they need to be postponed.</p>

            <p>Columbus State University would need to partner with GDPH, and/or Piedmont or St. Francis in order to administer not all, but some of the tests. Anyone who steps on campus will have access to the walk-through scanners and hand-held thermometers that have been purposefully placed all over campus.
            <br>This information, alongside other information relating to this topic, can be found here:</p>
            <a href="https://www.columbusstate.edu/covid/docs/CSU_Return_to_Campus_Planning_Document_12.18.2020.pdf">COVID Tech Info</a>
        </div>

        <div><!--Faculty and Staff-->
            <br><br><h2>Technology Specific for Faculty and Staff</h2>

            <p>There are a few different ways that professors can improve on their methods of teaching online. There are workshops available for teachers that want to get better at conveying the lessons to their students. Some of the workshops show the methods that will make online teaching easier.
            <br>This link provides some of the workshops available to take for teaching during the times of COVID:</p>
            <a href="https://cool.columbusstate.edu/workshops/itworkshops.php">Online Workshops</a>

            <p>There are many different tools that can be used in order to improve the online learning experience and make it less complicated as well. There are tools that can help with editing, live streaming, and creating animated videos that can be used in case all classes have to resort to being online.
            <br>This link provides the technology that is available for people to enhance their online classrooms:</p>
            <a href="https://cool.columbusstate.edu/elearningtools.php">Online Learning Tools</a>
        </div>

    </body>
    {% endblock %}
</html>
